html {
  scroll-behavior: smooth;
  transition: 2s ease;
/* //  background-color: white; */
}

body {
  font-family: "Manjari", sans-serif;
  font-size: 18px;
  line-height: 1.75em;
  color: #6E7783;
  background-color: #6E7783;
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
}

/*! =================  NAVIGATION BAR ==================*/
nav {
  background-color: #77AAAD;
}

nav p {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  position: relative;
  left: 5px;
  /* top: 10px; */
}

nav ul li a {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  color: white;
}

nav ul li a:hover {
  color: #6E7783;
}

nav ul li a:focus {
  color: black;
}

#myLogo {
  width: 80px;
  height: 80px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-iteration-count: infinite;
  animation-delay: 5s;
}

#myLogo:hover {
  width: 90px;
  height: 90px;
  opacity: 0.9;
}

.devName {
  color: white;
  font-family: "Qwigley", cursive;
  font-size: 100px;
  top: 50px;
  text-shadow: 2px 2px 4px #000000;
}

.parallax-mirror{
  visibility: visible; 
  z-index: -100; 
  position: fixed; 
  top: 0px; 
  left: 0px; 
  overflow: hidden; 
  transform: translate3d(0px, 0px, 0px); 
  height: 720px; 
  width: 1350px;
}

.parallax-slider{
  transform: translate3d(0px, -40px, 0px); 
  position: absolute; 
  height: 720px; 
  width: 1350px; 
    max-width: none;
}

.view-parallax {
    background: url("../Images/coding.jpg") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

/*! BODY */

section{
  background-color: ghostwhite;
} 

#myPic {
  width: 250px;
  height: 250px;
  box-shadow: 1px 1px 4px #000000;
}



h1 {
  font-family: "Saira", sans-serif;
  font-size: 30px;
  color: #6E7783;
}

[type*=button]:hover, [class*=btn]:hover {
  color: white;
}

[class*=list-group-item]:hover {
  color: white;
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
}

[class*=list-group-item]:focus {
  color: white;
  background-color: #17a2b8;
}

.progress-bar {
  background-color: #77AAAD;
  font-weight: 300;
  font-size: 14px;
}

/* WORK EXPERIENCES */
h2 {
  margin-bottom: 30px;
  color: #4679bd;
  font-weight: 400;
  text-align: center;
}

.fa-circle {
  color: #6E7783;
}

.timeline {
  list-style: none;
  padding: 10px 0;
  position: relative;
  font-weight: 300;
  line-height: 1.25em;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background: #ffffff;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: calc(100% - 25px);
  width: -moz-calc(100% - 25px);
  width: -webkit-calc(100% - 25px);
  float: left;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  position: relative;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #dcdcdc;
  border-right: 0 solid #dcdcdc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #ffffff;
  border-right: 0 solid #ffffff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #ffffff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  z-index: 100;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge > a {
  color: #ffffff !important;
}

.timeline-badge a:hover {
  color: #dcdcdc !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-heading h4 {
  font-weight: 400;
  font-size: 30px;
  padding: 0 15px;
  color: white;
  background-color: #77AAAD;
  font-family: "Teko", sans-serif;
}

.timeline-heading span {
  font-size: 18px;
  font-weight: 100;
}

.timeline-body > p, .timeline-body > ul {
  font-size: 15px;
  padding: 10px 15px;
  margin-bottom: 0;
}

.timeline-footer {
  padding: 5px 15px;
  background-color: #D8E6E7;
  font-family: "Teko", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.timeline-footer p {
  margin-bottom: 0;
}

.timeline-footer > a {
  cursor: pointer;
  text-decoration: none;
}

.timeline > li.timeline-inverted {
  float: right;
  clear: right;
}

.timeline > li:nth-child(2) {
  margin-top: 60px;
}

.timeline > li.timeline-inverted > .timeline-badge {
  left: -12px;
}

.no-float {
  float: none !important;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    float: left;
    clear: left;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 65px);
    width: -moz-calc(100% - 65px);
    width: -webkit-calc(100% - 65px);
  }

  ul.timeline > li > .timeline-badge {
    left: 28px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

  .timeline > li.timeline-inverted {
    float: left;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .timeline > li.timeline-inverted > .timeline-badge {
    left: 28px;
  }
}

/* ==================  EDUCATION  ========================== */

.educ-img {
	width: 150px;
  height: 150px;
}
/*PROJECTS / PORTFOLIO */
.filterDiv {
  float: left;
  width: 100%;
  line-height: 50px;
  display: none;
}

.filterDiv img {
  width: 400px;
  height: 240px;
  border: 1px solid gray;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: 1px solid gray;
  outline: 1px;
  padding: 10px;
  cursor: pointer;
  width: 200px;
  font-size: 20px;
  font-weight: 400;
}

/* Add a black background on mouse-over */
.btn:hover {
  background-color: #77AAAD;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

/* PORTFOLIO HOVER EFFECT */
.hoverEffect {
  position: relative;
  width: 50%;
  cursor: pointer;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hoverEffect:hover .image {
  opacity: .2;
}

.hoverEffect:hover .overlay {
  opacity: .5;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}



/*! =================== SCROLL UP =======================*/
#myBtn {
  color: black;
  position: fixed;
  bottom: 1px;
  right: 3px;
  cursor: pointer;
  padding: 15px;
  z-index: 99;
  border-radius: 50%;
}

#myBtn:hover {
  color: gray;
  opacity: 0.6;
}

/*! ====================  FOOTER ======================== */
footer {
  background-color: #77AAAD;
  text-align: center;
  font-family: "Manjari", sans-serif;
  font-size: 18px;
  line-height: 1.75em;
}

.social-media > a:hover {
  opacity: 0.5;
  color: black;
}

.contact-us {
  font-size: 12.5px;
}

.contact-us > a:link {
  color: white;
}

.contact-us > a:visited {
  color: white;
}

#nav-logo {
  display: block;
  width: 0px;
  height: 0px;
}

@media (min-width: 576px) {

  #nav-logo {
    display: block;
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 768px) {

  #nav-logo {
    display: block;
    width: 0px;
    height: 0px;
  }
}
@media (min-width: 992px) {

  #nav-logo {
    display: block;
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 1200px) {

  #nav-logo {
    display: block;
    width: 70px;
    height: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
